*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  scroll-behavior: smooth;
  background: var(--color-background);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
